.question {
    padding: 5px;
    font-size: 1.5em;
}
.main {
    border: 1px solid #ddd;
    padding: 10px;
    width: 90%;
    margin: auto;
}
.box {
    padding: 5px;
    border-bottom: 1px solid #333;
    margin: 5px;
}
.box1:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.btn,.btn1 {
    display: block;
    margin: auto;
    width: 200px;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: black;
    font-size: 1.5em;
}

input {
    display: block;
}